manuscript/.ptp.tex.swp
manuscript/ptp.aux
manuscript/ptp.bbl
manuscript/ptp.blg
manuscript/ptp.fdb_latexmk
manuscript/ptp.fls
manuscript/ptp.log
manuscript/ptp.out
manuscript/ptp.pdf
manuscript_disp/.ptp.tex.swp
manuscript_disp/ptp.aux
manuscript_disp/ptp.bbl
manuscript_disp/ptp.blg
manuscript_disp/ptp.fdb_latexmk
manuscript_disp/ptp.fls
manuscript_disp/ptp.log
manuscript_disp/ptp.out
manuscript_disp/ptp.pdf